# Secrets
.env
.env.*
!.env.example

# Cloudflare Origin Cert (privada não vai pro git)
infra/traefik/certs/*.pem
infra/traefik/certs/*.key
!infra/traefik/certs/.gitkeep

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
